*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  line-height: 1;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
