a,
abbr,
acronym,
address,
article,
aside,
b,
blockquote,
canvas,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
figcaption,
figure,
footer,
form,
h1, h2, h3, h4, h5, h6,
header,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
time,
u,
ul,
var,
video {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
